<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
    <modules>
        <Hackathon_DerivedAttributes>
            <version>0.1.3</version>
        </Hackathon_DerivedAttributes>
    </modules>
    <global>
        <blocks>
            <derivedattributes>
                <class>Hackathon_DerivedAttributes_Block</class>
            </derivedattributes>
        </blocks>
        <helpers>
            <derivedattributes>
                <class>Hackathon_DerivedAttributes_Helper</class>
            </derivedattributes>
        </helpers>
        <models>
            <derivedattributes>
                <class>Hackathon_DerivedAttributes_Model</class>
                <resourceModel>derivedattributes_resource</resourceModel>
            </derivedattributes>
            <derivedattributes_resource>
                <class>Hackathon_DerivedAttributes_Model_Resource</class>
                <entities>
                    <rule>
                        <table>derivedattributes_rule</table>
                    </rule>
                    <rulefilter>
                        <table>derivedattributes_rule_filter</table>
                    </rulefilter>
                    <rulecondition>
                        <table>derivedattributes_rule_condition</table>
                    </rulecondition>
                </entities>
            </derivedattributes_resource>
        </models>
        <resources>
            <derivedattributes_setup>
                <setup>
                    <module>Hackathon_DerivedAttributes</module>
                </setup>
            </derivedattributes_setup>
        </resources>
        <events>
            <model_save_before>
                <observers>
                    <derivedattributes_observer>
                        <type>singleton</type>
                        <class>Hackathon_DerivedAttributes_Model_Observer</class>
                        <method>beforeModelSave</method>
                    </derivedattributes_observer>
                </observers>
            </model_save_before>
        </events>
        <psr0_namespaces>
            <Hackathon/>
        </psr0_namespaces>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_DerivedAttributes before="Mage_Adminhtml">Hackathon_DerivedAttributes_Adminhtml</Hackathon_DerivedAttributes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_derivedattributes>
                    <file>hackathon_derivedattributes.xml</file>
                </hackathon_derivedattributes>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_DerivedAttributes />
            </modules>
        </suite>
    </phpunit>
</config>
